
$nav-index:200;
$logo-index : 400;
$overlay-index: 500;

$expo-out : cubic-bezier(0.190, 1.000, 0.220, 1.000);
$font-neue-montreal : Neue Montreal, sans-serif;

$padding-screen-mobile : 47px 51px 15%;

//Mixin example
@mixin for-desktop-down {
  @media (min-width: 1200px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-desktop-large-up {
  @media (min-width: 1600px) { @content; }
}
@mixin for-tablet-landscape-down {
  @media (max-width: 899px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin full-height{
  min-height:calc(var(--vh) * 100);
  @include for-tablet-landscape-up {
    max-height: 60vw;
  }
}

@mixin font-title{
  font-family: 'Cako';
  font-style: normal;
  font-weight: normal;
  font-size: 2.5vw;
  line-height: 140%;
  /* or 72px */

  letter-spacing: -0.01em;
}

@mixin font-title-pledge{
  font-family: 'Cako';
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 118%;
  text-transform: uppercase;
  @include for-tablet-landscape-up{
    font-size: 3vmax;
    line-height: 125%;
  }

}

@mixin font-paragraph{
  font-family: $font-neue-montreal;
  font-style: normal;
  font-weight: normal;

  font-size:13px;
  line-height: 160%;
  @include for-tablet-landscape-up {
    font-size: 18px;
  }

  text-align: justify;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

@mixin font-button{
  font-family: $font-neue-montreal;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 128.4%;
  @include for-tablet-landscape-up {
    font-size: 16px;
  }
  /* or 21px */
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@mixin clipBorder {
  clip-path: inset(49px 17px 17px 17px round 17px);
  @include for-tablet-landscape-up {
    clip-path: inset(60px round 60px);
  }
}

@mixin pageSection {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: $padding-screen-mobile;
  overflow: auto;
  display:block;
  @include clipBorder;

  @include for-tablet-landscape-up{
    padding:0;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}